@use "reset" as *;
@use "base" as *;
@use "classes" as *;
@use "utils" as *;
@use "animations" as *;
@use "media-queries" as *;

.grid-container {
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 350px auto;
  min-height: 100vh;
  @include xs {
    grid:
      "header" auto
      "main" auto
      "picture" auto
      "aside" auto
      "footer" auto
      / auto;
  }
}

header {
  grid-area: header;
  background: blue;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 2rem;
  }
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 4rem;
    }
    span {
      display: inline-block;
      animation: bounce 2s;
    }
  }
  p {
    letter-spacing: 0.5rem;
  }
}

.picture {
  grid-area: picture;
  padding: 6rem;
  border-right: 1px solid var(--border);
  img {
    border-radius: 50%;
  }
  background: var(--background);
  // background: red;
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 6rem;
  min-height: 1500px;
  .block {
    margin-bottom: 5rem;
    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 0.5rem 0 2rem 0;
      font-style: italic;
    }
    .bar-skill {
      background: var(--hint);
      margin: 2rem 0;
      height: 5px;
      position: relative;

      .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 80%;
        background: var(--primary);
      }
      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        transform: rotate(45deg);
      }
    }
    .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      i {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }
    .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 1rem 1rem;
      border-radius: 5px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background: var(--border);
        i {
          color: var(--primary);
          transform: scale(1.3);
          transition: 0.2s;
        }
      }

      i {
        flex: 0 0 50px;
        margin-right: 1rem;
        font-size: 2rem;
      }
      p {
        flex: auto;
        margin: 0;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }
  h2 {
    padding-bottom: 2rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
  // ul li {
  //   line-height: 3rem;
  //   letter-spacing: 0.1rem;
  //   list-style-type:disc;
  // }
  .experience {
    display: flex;
    margin: 6rem 0;
    .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
      }
    }
    .content {
      padding: 0 2rem;
      h3 {
        margin-top: 0;
      }
      p {
        margin: 0;
      }
      ul {
        margin: 2rem 0;
        list-style: circle;
        padding-left: 4rem;
      }
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }
  background-color: var(--text);
  h2 {
    margin-bottom: 1rem;
  }
  form {
    display: flex;
    align-items: center;
    .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }
    button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
      .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }
    input {
      outline: 0;
      border: 0;
      padding: 1rem 2rem;
      min-width: 400px;
      @include xs {
        min-width: 200px;
      }
      line-height: 2rem;
      &::placeholder {
        color: var(--text);
      }
    }
  }
}
